<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Enriqueta|Josefin+Sans|Nunito|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <br>
    <br>
    <div class="nav-bar">
        <a href="/search" class="page-button"><b>RECIPES</b></a>
        <a href="/restaurants" class="page-button"><b>RESTAURANTS</b></a>
        <a href="/tweet" class="page-button"><b>FOOD ISSUES</b></a>
        <a href="/about" class="page-button"><b>ABOUT</b></a>

    </div>
    <br>
    <br>
    <p>TEST! TEST! TEST!</p>
    <footer class="page-footer grey darken-4 grey-text text-lighten-1">

        <div class="row">
            <!-- These divs will need classes so that they work as described -->
            <div class="col s4"><img class="STEAMpic" src="static/STEAMS.png"></img>
            </div>
            <div class="col s4">
                <a href="/logout" class="white-text">Logout &nbsp; &nbsp; &nbsp;</a>
                <a href="/register" class="white-text">Register &nbsp; &nbsp; &nbsp;</a>
                <a href="/saved" class="white-text">Saved Items</a>
                <br>
                <br>
                <u><b>YEA FOOD!</b></u>
                <p>Your go to source for all things food!</p>

            </div>
            <div class="col s4">
                <a href="https://www.facebook.com/upperlinecode/" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/upperlinecode?lang=en" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/company/upperline-code" target="_blank" class="fa fa-linkedin"></a>
            </div>
        </div>

    </footer>

</body>

</html>