<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Enriqueta|Josefin+Sans|Nunito|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">

</head>

<body class="bg3">
    <div class="nav-bar">

        <div class="row">
            <div class="col s1"></div>
            <div class="col s2"><a href="/search" class="page-button"><b>RECIPES</b></a>
            </div>
            <div class="col s2"><a href="/restaurants" class="page-button"><b>RESTAURANTS</b></a>
            </div>
            <div class="col s2"><a href="/tweet" class="page-button"><b>FOOD ISSUES</b></a>
            </div>
            <div class="col s2"><a href="/about" target="blank" class="page-button"><b>ABOUT</b></a>

            </div>
            <div class="col s2"><a href="/login" class="page-button"><b>LOGIN</b></a>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <div id="tweetScreen">
        <h1><b>TAKE ACTION</b></h1>
        <!-- ADDS THE TWEET BUTTON -->
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p>USE YOUR VOICE ON SOCIAL MEDIA TO SPREAD AWARENESS ON GLOBAL FOOD ISSUES</p>
        <p id="tweet">
            Before you throw away excess food, consider donating items you know you will not consume before the expiration date to local food banks.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Before%20you%20throw%20away%20excess%20food,%20consider%20donating%20items%20you%20know%20you%20will%20not%20consume%20before%20the%20expiration%20date%20to%20local%20food%20banks." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            Buy local food. It is healthier for you and better for the environment.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Buy%20local%20food.%20It%20is%20healthier%20for%20you%20and%20better%20for%20the%20environment." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            Food that is no longer edible can be recycled into other products such as animal feed, compost and worm castings, bioenergy, bioplastics, and clothing.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Food%20that%20is%20no%20longer%20edible%20can%20be%20recycled%20into%20other%20products%20such%20as%20animal%20feed,%20compost%20and%20worm%20castings,%20bioenergy,%20bioplastics,%20and%20clothing." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            The food wasted by the United States and Europe alone could feed the world 3 times over.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=The%20food%20wasted%20by%20the%20United%20States%20and%20Europe%20alone%20could%20feed%20the%20world%203%20times%20over." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            Food waste increases methane gases in landfills, wastes natural resources (like oil, water, and land), impacts global hunger, and results in trillions of dollars wasted on uneaten food.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Food%20waste%20increases%20methane%20gases%20in%20landfills,%20wastes%20natural%20resources%20(like%20oil,%20water,%20and%20land),%20impacts%20global%20hunger,%20and%20results%20in%20trillions%20of%20dollars%20wasted%20on%20uneaten%20food." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            Up to 40 percent of the food in the United States is never eaten. Yet at the same time, one in eight Americans struggles to put enough food on the table.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Up%20to%2040%20percent%20of%20the%20food%20in%20the%20United%20States%20is%20never%20eaten.%20Yet%20at%20the%20same%20time,%20one%20in%20eight%20Americans%20struggles%20to%20put%20enough%20food%20on%20the%20table." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            Make a more detailed grocery shopping list by planning your meals in advance. This way you will not overbuy produce and waste food.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Make%20a%20more%20detailed%20grocery%20shopping%20list%20by%20planning%20your%20meals%20in%20advance.%20This%20way%20you%20will%20not%20overbuy%20produce%20and%20waste%20food." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            Buy exactly what you need and be realistic. Do not impulsively buy food items that you do not need and that you are unlikely to actually consume.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Buy%20exactly%20what%20you%20need%20and%20be%20realistic.%20Do%20not%20impulsively%20buy%20food%20items%20that%20you%20do%20not%20need%20and%20that%20you%20are%20unlikely%20to%20actually%20consume." target="_blank">
                  Click to tweet.</a>
        </p>
        <p id="tweet">
            Grow your own food by starting a small garden.
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Grow%20your%20own%20food%20by%20starting%20a%20small%20garden." target="_blank">
                  Click to tweet.</a>
        </p>

    </div>

</body>
<footer class="page-footer grey darken-4 grey-text text-lighten-1">

    <div class="row">
        <!-- These divs will need classes so that they work as described -->
        <div class="col s4"><img class="STEAMpic" src="static/STEAMS.png"></img>
        </div>
        <div class="col s4">
            <a href="/logout" class="white-text">Logout &nbsp; &nbsp; &nbsp;</a>
            <a href="/register" class="white-text">Register &nbsp; &nbsp; &nbsp;</a>
            <a href="/saved" class="white-text">Saved Items</a>
            <br>
            <br>
            <u class="white-text"><b>YEA FOOD!</b></u>
            <p class="white-text">Your go to source for all things food.</p>

        </div>
        <div class="col s4">
            <a href="https://www.facebook.com/upperlinecode/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/upperlinecode?lang=en" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/company/upperline-code" target="_blank" class="fa fa-linkedin"></a>
        </div>
    </div>

</footer>

</html>